.wrap{
    width: 1100px;
    height: 700px;
    border-radius: 45px;
    background-color: rgb(52, 60, 80);
    margin: 0 auto;
    display: flex;
    padding: 50px;
    gap: 100px ;
    row-gap: 20px;
    flex-wrap: wrap;
}

.box{
    border-radius: 50px;
    width: 190px;
    height:50px ;
    background-color: red;
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.img{
   display: flex;
   justify-content: center;
   gap: 300px;
   row-gap: 1px;
   flex-wrap: wrap;
    
}

.flex{
    width: 300px;
    height: 120px;
    background-color: black;
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.css2{
    display: flex;
    gap: 300px;
}

.css{
    width: 400px;
    height: 255px;
    background-color: red;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrp{
    width: 320px;
    height: 190px;
    background-color: green;
    padding: 1px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}